@font-face{
    font-family: "Questrial";
    src: url("../../public/fonts/Questrial-Regular.ttf");
}

// font-family: "Questrial" , sans-serif;

@font-face{
    font-family: "Roboto";
    src: url("../../public/fonts/Roboto_Condensed-Regular.ttf");
}

// font-family: "Roboto" , sans-serif;

@font-face{
    font-family: "Noto";
    src: url("../../public/fonts/NotoSans_Condensed-Regular.ttf");
}

// font-family: "Noto" , sans-serif;

*{
    padding: 0;
    letter-spacing: 1px
}

#btt {
    position: fixed;
    bottom: 15px;
    right: 15px;
    max-width: 48px;
    border: none;
    font-size: 26px;
    padding: 6px;
    border-radius: 50%;
    position: fixed;
    background-color: $beta;
    width: 100%;
    transition: all 0.4s;
    i{
        color: white;
    }

}
#btt:hover {
    opacity: 60%;
}

@import "./modules/home/home";
