@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$alpha: rgb(15, 41, 67);
$beta: rgb(232, 117, 50);
$neutral: rgb(108, 111, 114);
$s-titles: rgb(111, 75, 59);

$custom-colors: (
    "alpha": $alpha,
    "beta": $beta,
    "neutral": $neutral,
    "s-titles": $s-titles,
);

$theme-colors: map-merge($custom-colors , $theme-colors );

$spacer: 0.5rem;

@for $i from 1 through 50 {
  $spacers: map-merge($spacers, ($i : $spacer * $i) );
}

$rounded: 40px;
$rectangle: 5px;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


$border: 0.5px solid black;





