@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$alpha: rgb(15, 41, 67);
$beta: rgb(232, 117, 50);
$neutral: rgb(108, 111, 114);
$s-titles: rgb(111, 75, 59);
$s-bg: rgb(250, 249, 251);

$custom-colors: (
    "alpha": $alpha,
    "beta": $beta,
    "neutral": $neutral,
    "s-titles": $s-titles,
    "s-bg": $s-bg,
);

$theme-colors: map-merge($custom-colors , $theme-colors );

$spacer: 0.5rem;

@for $i from 1 through 50 {
  $spacers: map-merge($spacers, ($i : $spacer * $i) );
}

$rounded: 40px;
$rectangle: 10px;
$small: 5px;
$circle: 50%;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$s-box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 600px 250px;


$border: 0.5px solid rgba(135, 135, 135, 0);
$s-border: 1px solid rgb(232, 117, 50);





