#portfolio {
    .p-top {
        gap: 0.5rem;

        h1 {
            color: $s-titles;
            font-family: "Questrial", sans-serif;
            font-weight: 600;
        }

        svg {
            color: $beta;
            width: 12rem;
        }

        p {
            width: 40rem;
            font-family: "Roboto", sans-serif;
            letter-spacing: 1px;
        }
    }

    .p-bottom {
        .portfolio-menu {
            gap: 1rem;
            padding-bottom: 1.5rem;

            .p-hover {
                text-decoration: none;
                padding: 0.5rem 1rem;
                background-color: transparent;
                border-radius: $rounded;
                color: $alpha;
                transition: 0.3s;
                font-family: "Roboto", sans-serif;
                border: none;
            }

            .p-hover:hover {
                background-color: #fcebe0;
                color: $beta;
            }

            .p-hover:focus {
                color: white;
                background-color: $beta;
            }

        }

        .portfolio-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;

            div {
                display: block;

                .p-item {
                    display: flex;
                    align-items: left;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: $rectangle;
                    box-shadow: $box-shadow;
                    transition: 0.3s;

                    img {
                        width: 40rem;
                        border-top-left-radius: $rectangle;
                        border-top-right-radius: $rectangle;
                    }

                    .p-card-text {
                        display: flex;
                        align-items: left;
                        justify-content: center;
                        flex-direction: column;
                        padding: 1.5rem;

                        h6 {
                            color: $beta;
                            font-family: "Roboto", sans-serif;
                            font-weight: 600;
                        }

                        h4 {
                            color: $alpha;
                            font-family: "Questrial", sans-serif;
                            font-weight: 600;
                        }

                        p {
                            font-size: 14px;
                            color: $neutral;
                            font-family: "Roboto", sans-serif;
                        }
                    }
                }
            }

            .p-all-items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
            }
        }
    }
}

#sidebar:has(button[data-filter="web"]:focus)~.portfolio-container #all-items .p-item:not(.web),
#sidebar:has(button[data-filter="graphics"]:focus)~.portfolio-container #all-items .p-item:not(.graphics),
#sidebar:has(button[data-filter="motion"]:focus)~.portfolio-container #all-items .p-item:not(.motion),
#sidebar:has(button[data-filter="branding"]:focus)~.portfolio-container #all-items .p-item:not(.branding) {
    display: none;
}

@media (max-width: 480px) {
    .p-top {
        p {
            width: 90% !important;
        }
    }

    .p-bottom {
        .portfolio-menu {
            flex-wrap: wrap !important;
        }
        .portfolio-container {
            padding: 0 1rem;
            .p-all-items {
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
                flex-direction: column !important;

                .p-item {
                    img {
                        width: 100% !important;
                    }

                    .p-card-text {
                        padding: 1rem;

                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}