#questions {
    .q-top {
        gap: 0.5rem;

        h1 {
            font-family: "Questrial", sans-serif;
            font-weight: 600;
            background: -webkit-linear-gradient(60deg, rgba(81, 65, 62, 1), rgba(166, 94, 55, 1) 72%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        svg {
            color: $beta;
            width: 12rem;
        }

        p {
            width: 40rem;
            font-family: "Roboto", sans-serif;
            letter-spacing: 1px;
        }
    }

    .q-bottom {
        gap: 1rem;
        div {
            h3 {
                .q-summary {
                    background-color: white;
                    border: $border;
                    border-radius: 5px !important;
                    font-weight: 600;
                    font-family: "Questrial" , sans-serif;
                    color: $alpha;
                    box-shadow: none;
                    &:hover {
                        color: $beta;
                    }
                    &:focus {
                        background-color: #fefbf8;
                        color: $beta;
                    }
                }
            }
            div {
                .q-details {
                    background-color: #fefbf8;
                    font-family: "Roboto" , sans-serif;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .q-top {
        p {
            width: 90% !important;
        }
    }
}